.custom-dropdown {
  background-color:#fcf1e5;
}
  
  .transparent-background {
    background-color: transparent !important;
    border-color: black !important;
    color: black !important;
  }
  
  .transparent-chapter {
    border: 1px solid black; 
    padding: 10px; 
  }
 
  .display-chapter-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background overlay */
  }
  
  .display-chapter {
    background: #fcf1e5;
    padding: 20px;
    text-align: center;
    font-size: 2em; 
    
  }
  
  .pagination {
    background-color:transparent;
    justify-content: center;
  }
  
  .pagination button {
    background:#fcf1e5;
    margin: 100px 300px;
    padding: 5px 10px;
    border: none;
  }

  
  
 